<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victoria Tate's Example 2</title>
</head>
<body>
    <h1><a href="/">Link to Start Page</a></h1>
    <h2>Victoria Tate's Example 2</h2>
    <h3>Visited Countries</h3>

    <p>Click the button to check how many countries you've visited!</p>
    <button id="check-countries-btn">Check Countries</button>

    <p id="message"></p>
    <script src="/public/ex2.js"></script>
</body>
</html>
